/*Loading the fontvarient*/
@font-face {
    font-family: 'MyCustomFont';
    src: url('Minecraft-Seven_v2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*Html body style*/
body {
    overflow: hidden !important;
    font-family: 'MyCustomFont', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(135,206,235,1) 0%, rgb(16,107,187,1) 100%);;
    background-repeat: no-repeat;
    height: 100vh;
    image-rendering: pixelated;
    cursor: url(customcursor.png), default !important ;
    text-align: center;
    user-select: none;
}
/*Background structure*/
.background {
    z-index: -1;
    position: absolute;
    bottom: 0;
    height: 75vh;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}
.layer-1 {
    width: 100vw;
    height: 25vh;
    background: url(background/short_grass.png) repeat-x;
    background-size: contain;
    image-rendering: pixelated;
}
.layer-2 {
    width: 100vw;
    height: 25vh;
    background: url(background/grass_block_side.png) repeat-x;
    background-size: contain;
    image-rendering: pixelated;
}
.layer-3 {
    width: 100vw;
    height: 25vh;
    background: url(background/dirt.png) repeat-x;
    background-size: contain;
    image-rendering: pixelated;
}
/*Menu*/
.hidden {
    visibility: hidden;
}
.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.menu-title, .menu-button {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 50vw;
}
.menu-title {
    font-size: clamp(3rem, 10vw, 12rem);
    margin-bottom: 2vw;
    text-shadow: 8px 8px 0px rgba(0, 0, 0, 83);
    background-color: rgba(0, 0, 0, .65);
    box-shadow: inset 5px 5px 0px rgba(255, 255, 255, 0.4), inset -5px -7px 0px rgba(0, 0, 0, 0.459);

}
.menu-title.smaller-title {
    font-size: clamp(3rem, 5.5vw, 12rem);
}

.menu-button {
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.694);
    background-image: url(button_texture.png);
    background-size: contain;
    image-rendering: pixelated;
    font-size: 2rem;
    margin: 2rem 0 2rem 0;
    padding: 0.5em;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: inset 5px 5px 0px rgba(255, 255, 255, 0.4), inset -5px -7px 0px rgba(0, 0, 0, 0.459);
}

.menu-button:hover {
    border: 4px solid rgb(255, 255, 255);
}
/*Responsivity*/
@media (max-width: 900px) {
    .menu-title {
        width: 80vw;
    }

    .menu-button {
        font-size: 1.5rem; 
        width: 80vw;
        box-shadow: inset 3px 3px 0px rgba(255, 255, 255, 0.4), inset -3px -4px 0px rgba(0, 0, 0, 0.459);

    }
}

/*Play menu*/
.tiles-container {
    position: relative;
    image-rendering: pixelated;
    display: flex;
}
.crafting_img {
    position: relative;
    height: 80vh;
    width: auto;
}

/* crafting table area */
.cell-container {
    position: absolute;
    background-color: rgba(17, 0, 255, 0);
    display: grid;
    gap: .95vh;
    row-gap: 1.0vh;
}
.cell-container-3x3 {
    top: 8.27vh;
    left: 14.3vh;
    grid-template-columns: repeat(3,7.7vh);
    grid-template-rows: repeat(3,7.586vh);
    gap: .95vh;
    row-gap: 1.0vh;
}
.cell-container-1x1 {
    top: 14.9vh;
    left: 57.5vh;
    grid-template-columns: repeat(1,11.5vh);
    grid-template-rows: repeat(1,11.5vh);
}
.cell-container-3x9{
    top: 40.31vh;
    left: 3.88vh;
    grid-template-columns: repeat(9,7.64vh);
    grid-template-rows: repeat(3,7.586vh);
    gap: .96vh;
    row-gap: 1.02vh;
}

.cell-container > div {
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .cell-container > div:hover {
    background-color: rgb(163, 163, 163);
} */

.cell-container-1x9{
    position: absolute;
    grid-template-columns: repeat(9,7.64vh);
    grid-template-rows: repeat(1,7.586vh);
    top: 68.16vh;
    left: 3.88vh;
    gap: .96vh;
}

.item{
    width: 7vh;
    transform: translateX(.35vh) translateY(.25vh);

}
.timer{
    width: 40vw;
    text-shadow: none;
}

  